<h1>今日订单 <%= Time.new.strftime("%Y-%m-%d") %> </h1>
<br />

<script>
  function updateOrderDescription() {
      var description = $("#order_description").val();
      $(".updateOrderDescriptionIcon").removeClass("icon-ok").addClass("icon-spinner icon-spin");
      $.post("/orders/<%= @order.id%>.json", {_method: 'put', order:{description: description}}, function() {
          $(".updateOrderDescriptionIcon").addClass("icon-ok").removeClass("icon-spinner icon-spin");
      });
  }
</script>

<%= link_to raw('<i class="icon-plus icon-large"></i> 我要订一份...'), buy_path, {:class => "btn btn-primary"} %>

<% if flash[:notice] %>
<div class="alert alert-success">
  <strong><%= flash[:notice] %></strong>
</div>
<% end %>

<div class="alert">
  今日公告：
  <%= form_for(@order) do |f| %>
        <%= f.text_area :description, {:style => "width:300px;height:60px;"} %> <br />
        <%= f.button raw('<i class="updateOrderDescriptionIcon icon-ok icon-large"></i> 更新公告'), {:class => "btn", :onclick => 'updateOrderDescription();return false'}%>
  <% end %>
</div>



<table class="table table-striped table-bordered" style="width: 600px;">
  <tr>
    <th>姓名</th>
    <th>菜品</th>
    <th>价格</th>
    <th>备注</th>
    <th></th>
  </tr>

<% @order_items.each do |order_item| %>
  <tr>
    <td><%= order_item.user_name %></td>
    <td><%= order_item.food.name %> 
    </td>
    <td><%= order_item.food.price %></td>
    <td><%= order_item.description %></td>
    <td><%= link_to raw('<i class="icon-pencil"></i> 修改'), edit_order_item_path(order_item) %> &nbsp;
      <%= link_to raw('<i class="icon-trash"></i> 删除'), order_item, method: :delete, data: { confirm: "hi，#{order_item.user_name}，你真的不订了吗?" } %>
    </td>
  </tr>
<% end %>
</table>

<div class="alert alert-info" style="display:inline-block;margin:8px;padding: 8px;border:1px solid #f0f0f0;">
<p style="font-size: 14px;">统计</p>
<ul>
<% @order_items.group_by{|order_item| order_item.food.name}.each do |food_name, order_items| %>
<li><%= food_name %> <span class="badge badge-success"><%= order_items.size %></span></li>
<% end %>
</ul>
<div style="font-size: 1.1em;margin-top: 8px;padding-top: 4px;border-top:1px solid #ccc;">
共<strong><%= @order_items.size %></strong>份饭，<strong><%= @order_items.sum{|order_item| order_item.food.price} %></strong> 元
</div>
</div>

<br /><br /><br />
