<!DOCTYPE html>
<html>
<head>
  <title>定饭啦！</title>
  <%#= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap-2.2.2", :media => "all" %>
  <%= stylesheet_link_tag    "font-awesome", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery-1.8.3" %>
  <%= csrf_meta_tags %>
  <style>
  body{
  	padding: 16px;
  }
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
